$font-serif: georgia, serif;
$font-sans-serif: helvetica, arial, sans-serif;
$font-sixcaps: Six Caps, arial narrow, sans-serif;
$font-anton: Anton, arial narrow, sans-serif;

$font-heading: $font-serif;
$font-body: $font-sans-serif;
