:root {
  --light-tan: #fceac6;
}

body {
  background-color: var(--light-tan);
  color: $black;
  font-family: $font-sans-serif;
  min-height: 100vh;
  // margin: 0 auto;
  margin: 0;
  padding: 0;
  text-align: center;
  // max-width: 900px;
}

h1 {
  margin: 8% auto;
  // margin: 8.203125vw auto 7.8125vw;
}

.reviews {
  display: flex;
  margin: 8% auto 6%;
  // margin: 8.203125vw auto 5.859375vw;
  // margin: 42px auto 30px;
  width: 50%;

  .review {
    margin: 0 auto;
  }

  .stars {
    height: 28%;
    // height: 2.1484vw;
    // height: 11px;
    width: 70%;
    // width: 12.5vw;
    // width: 64px;
  }

  figcaption {
    margin: 5% auto;
    // margin: 1.1718vw auto;
    // margin: 6px auto;
  }
}

.awards {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 6% auto 5%;
  // margin: 5.859375vw auto 4.8828125vw;
  // margin: 30px auto 25px;
  padding: 0;
  width: 62%;

  .award {
    margin: 0;
    width: 23%;
    // width: 14.2578125vw;
    // width: 73px;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.credits {
  margin: 6.25% auto;
  // margin: 6.25vw auto;
  // margin: 32px auto;
  width: 70%;
}

